<body>
	<div class="body">
		<div class="container">
			<div class="row">
				<div class="col-xs-3">
					<h2>User info</h2>
					<%= attachment_image_tag @user, :profile_image, :fill, 100, 100, :size => '100x100', format: 'jpeg', class: "pull-left profile-img", fallback: "no_image.jpg" %>
					<table class="table">
						<tbody>
							<tr></tr>
							<tr>
								<th>name</th>
								<th><%= current_user.name %></th>
							</tr>
							<tr>
								<th>introduction</th>
								<th><%= current_user.introduction %></th>
							</tr>
						</tbody>
					</table>
					<div class="row">
						<% if @user.id == current_user.id %>
						<%= link_to "プロフィール編集", edit_user_path(@user), class: "pull-right" %>
						<% end %>
					</div>
					<h2>New book</h2>
					<% if @book.errors.any? %>
						<p>エラーでーす。</p>
					<% end %>
					<%= form_for(@bookz) do |f| %>

					<% if @bookz.errors.any? %>
					<div id="error_explanation" class="alert alert-danger">
					<h2><%= @bookz.errors.count %>件のエラーが発生しました。</h2>
					<ul>
					<% @bookz.errors.full_messages.each do |message| %>
					<li><%= message %></li>
					<% end %>
					</ul>
					</div>
					<% end %>

					<% if @bookz.errors.any? %>
						<p>エラーでーす。</p>
					<% end %>

					<div class="field row">
						<label for="book_title">Title</label>
						<%= f.text_field :title, class:"form-control", placeholder:"title" %>
					</div>
					<div class="field row">
						<label for="book_opinion">Opinion</label>
						<%= f.text_area :body, class:"form-control", rows:"3", placeholder:"opinion" %>
					</div>
					<div class="actions row">
						<%= f.submit "Create Book", class:"btn btn-lg btn-block btn-base-1 mt-20" %>
					</div>
					<% end %>
				</div>
				<div class="col-xs-9">
					<h2>Book detail</h2>
					<table class="table">
						<tbody>
								<tr>
									<td>
										<%= attachment_image_tag @book.user, :profile_image, :fill, 100, 100, fallback: "no_image.jpg" %><br><%= @book.user.name %>
									</td>
									<td>
										<%= @book.title %>
									</td>
									<td>
										<%= @book.body %>
									</td>
									<td>
										<% if @book.user == current_user %>
										<%= link_to "Edit", edit_book_path(@book) %>
										<% end %>
									</td>
									<td>
										<% if @book.user == current_user %>
										<%= link_to "Destroy", book_path(@book), method: :delete %>
										<% end %>
									</td>
								</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</body>